%h4.strong.center
    Discord
.text-center
    %a{:href => "https://discord.gg/fvs3zbP", :target => "_blank"}
        %img{:src => "https://discordapp.com/api/guilds/413218566465126410/widget.png?style=shield"}
