%h4.strong.center
    Discord
.text-center
    %a{:href => "https://discord.gg/fvs3zbP", :target => "_blank"}
        %img{:src => "https://discordapp.com/api/guilds/540730725859590144/widget.png?style=shield"}
