- content_for :splash do
    = render :partial => "splash"

%section
    .container{:style => "padding-bottom: 40px"}
        %br
        .row
            .col-md-8{:style => "padding-top: 20px"}
                %h4{:style => "font-weight: bold"} About Us
                %p The BGMBox started as a public map development server for the community, and has now become to be a non-commercial network. Enjoy! 
            .col-md-4
                %img.center-block{:src => asset_path("logo_cloud.png"), :width => "50%"}


%style body { padding-bottom: 40px; }

%script $(function(){$('#hero').carousel('cycle')});
